/* Sidebar */
#sidebar .toggle {
    text-decoration: none;
    -moz-transition: left 0.5s ease;
    -webkit-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    transition: left 0.5s ease;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border: 0;
    display: block;
    color: #fff;
    height: 100px;
    left: 420px;
    line-height: 100px;
    outline: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-indent: 100px;
    top: 0;
    width: 100px;
    z-index: 10000;
}

#sidebar .toggle:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#sidebar .toggle:before {
    content: '\f0c9';
    font-size: 2rem;
    height: inherit;
    left: 0;
    line-height: inherit;
    position: absolute;
    text-indent: 0;
    top: 0;
    width: inherit;
}

#sidebar.inactive {
    margin-left: -420px;
}

@media screen and (max-width: 1680px) {
    #sidebar {
        width: 100%;
    }
    #sidebar > .inner {
        padding: 0px 30px;
        width: 100%;
    }
    #sidebar.inactive {
        margin-left: -380px;
    }
}



/* Header */

#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: relative;
    background-color: #535ba0;
    margin: -100px -100px 100px -100px;
}

#header .logo {
    text-align: right;
    display: inline-block;	
    width: 100%;
    height: 100px;
    line-height: 100px;
}
#header .logo a {
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 700;
	margin-right: 100px;
}





/* Menu */
#menu {
	margin-top: 50px;
}

#menu ul {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #3d4449;
    font-family: "Roboto Slab", serif;
    font-family: 400;
    letter-spacing: 0.075em;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
}

#menu ul a,
#menu ul span {
	color: #fff;
    border-bottom: 0;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: 300;
    padding: 15px 0px;
}
#menu ul li ul a,
#menu ul li ul span {
    padding: 10px 0px;
}

#menu ul a:hover,
#menu ul span:hover {
    color: #535ba0;
}

#menu ul a.opener,
#menu ul span.opener {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    position: relative;
}

#menu ul a.opener:before,
#menu ul span.opener:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#menu ul a.opener:before,
#menu ul span.opener:before {
    -moz-transition: color 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, -ms-transform 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
    color: #fff;
    content: '\f078';
    position: absolute;
    right: 0;
}

#menu ul a.opener:hover:before,
#menu ul span.opener:hover:before {
    color: #535ba0;
}

#menu ul a.opener.active + ul,
#menu ul span.opener.active + ul {
    display: block;
}

#menu ul a.opener.active:before,
#menu ul span.opener.active:before {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#menu > ul > li {
    border-top: solid 1px #1a1b20;
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
}

#menu > ul > li > ul {
    color: #9fa3a6;
    display: none;
    margin: 0.5em 0 1.5em 0;
    padding-left: 1em;
}

#menu > ul > li > ul a,
#menu > ul > li > ul span {
    font-size: 13px;
}

#menu > ul > li > ul > li {
    margin: 0.125em 0 0 0;
    padding: 0.125em 0 0 0;
}

#menu > ul > li:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}